/*
* Default initializations
*/
@font-face {
  font-family: nunito;
  src: url(Nunito-Regular.ttf); }
* {
  padding: 0%;
  margin: 0%;
  outline: 0;
  font: 1.03em nunito; }

.button {
  padding: 1% 2%;
  border-radius: 60px;
  border: 2px solid #043862;
  color: #fff;
  font-size: .8em;
  color: #043862;
  -webkit-transition: background .5s; }

.button:hover {
  background-color: #043862; }

.right {
  float: right; }

.left {
  float: left; }

.cap {
  text-transform: capitalize; }

/*
* TOP MENU DESIGN
*/
.top-menu {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #043862;
  padding: 1%;
  text-align: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1); }
  .top-menu li {
    display: inline-block;
    list-style: none;
    font-size: 1.5em;
    padding: 0% 3%; }
  .top-menu a {
    color: #fff; }
  .top-menu a:hover {
    color: #fff; }

/*
* container > ui-form > holder
*/
.container-form {
  background-color: #043862;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  text-align: center; }
  .container-form h1 {
    color: #fff;
    padding: 3% 0%; }

.ui-form {
  margin: auto;
  width: 50%;
  text-align: center; }
  .ui-form input[type='text'], .ui-form [type='email'], .ui-form [type='password'], .ui-form [type='submit'], .ui-form select, .ui-form [type='number'], .ui-form [type='file'] {
    padding: 1.5% 0% 1.6% 4% !important;
    margin: .5% auto;
    width: 40%;
    border: none;
    border-radius: 60px;
    border: 2px solid #fff;
    outline: 0 !important;
    -webkit-transition: background .5s; }
  .ui-form input[type='text'], .ui-form [type='email'] {
    text-transform: lowercase !important; }
  .ui-form input[type='submit'] {
    background-color: transparent;
    text-align: center;
    padding: 1.5% 0% !important;
    color: #fff;
    -webkit-transition: background .5s; }
  .ui-form input[type='submit']:hover {
    background-color: #fff;
    color: #333; }
  .ui-form p {
    color: #fff; }
  .ui-form a {
    color: #fff; }
  .ui-form a:hover {
    color: #fff; }

/*
* message holder
*/
.error, .success {
  width: 40%;
  margin: 1% auto;
  background-color: #F45560;
  color: #fff;
  padding: 1.3%;
  border-radius: 60px; }

.success {
  background-color: #5FB88A; }

/*
* Admin Interface
*/
.side-menu {
  height: 100vh;
  background-color: #043862;
  padding: 15% 0%; }
  .side-menu ul {
    width: 105%;
    margin-left: -2%; }
    .side-menu ul li {
      list-style: none;
      padding: 4% 10%;
      border-bottom: 1px solid #fff; }
      .side-menu ul li span {
        color: #F45560;
        font-size: .5em;
        background-color: #fff;
        padding: 1%;
        width: 35%;
        border-radius: 60px;
        text-align: center; }
    .side-menu ul li:hover {
      border-bottom: 1px solid #F45560; }
    .side-menu ul a {
      color: #fff;
      text-decoration: none; }
    .side-menu ul a:hover {
      color: #F45560; }
    .side-menu ul .current {
      color: #F45560;
      border-bottom: 1px solid #F45560; }

.other-side {
  background-color: #b5dcfc;
  height: 100vh;
  overflow-y: scroll;
  padding: 3% 1% !important; }
  .other-side h3 {
    padding: 1% 0%;
    color: #043862;
    border-bottom: 1px solid #043862; }
  .other-side .ui-form {
    width: 80%; }
    .other-side .ui-form input, .other-side .ui-form select {
      box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
      text-transform: lowercase; }
    .other-side .ui-form input[type='submit'] {
      border: 2px solid #043862;
      color: #043862; }
    .other-side .ui-form input[type='submit']:hover {
      box-shadow: none;
      background-color: #043862;
      border: 2px solid #043862;
      color: #fff; }
  .other-side a:hover {
    color: #fff;
    text-decoration: none; }

/*
* BOOK PRESENTATION
*/
.present-book {
  padding: 2%;
  background-color: #fff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin: 1% .5%;
  width: 48% !important; }
  .present-book img {
    width: 100%;
    min-height: 220px;
    max-height: 220px; }
  .present-book .text {
    text-align: left;
    padding: 1% 2%;
    font-size: .8em;
    text-transform: capitalize; }
    .present-book .text a {
      padding: 1.5% 4%; }
    .present-book .text .del {
      color: red;
      border: 2px solid #F45560; }
    .present-book .text .del:hover {
      background-color: #F45560;
      color: #fff; }

/*
* ASSIGN BOOK
*/
.assign {
  background-color: #fff;
  width: 40%;
  padding: 5% 3%;
  border-radius: 60px;
  margin: 2% auto; }
  .assign h3 {
    border-bottom: 1px solid #333;
    text-align: left; }
  .assign p {
    color: #333;
    text-align: left; }
  .assign a {
    padding: 2% 5%;
    color: #043862; }

.parent {
  background-color: #fff;
  padding-top: 1%;
  padding-bottom: .3%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: .5% 0%;
  padding: 1%;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: background .2s; }
  .parent li {
    list-style: none;
    display: inline-block;
    width: 17%;
    border-left: 1px solid #c1c1c1;
    text-align: center; }
  .parent a {
    color: #333 !important;
    text-decoration: none;
    padding-right: 3%; }

.parent:hover {
  background-color: #5FB88A;
  color: #fff; }
  .parent:hover a {
    color: #fff !important; }

.formal {
  background-color: transparent !important;
  box-shadow: none; }

.formal:hover {
  color: #333; }

/*
-------------------------------------------------------------------------------
USER PURCHASE INTERFACE
-------------------------------------------------------------------------------
*/
.array {
  padding: 2%; }
  .array h3 {
    border-bottom: 1px solid #333;
    padding: 1% 0%; }

.book_purchase {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1%;
  margin: .5%;
  width: 15% !important; }
  .book_purchase img {
    width: 100%;
    min-height: 300px;
    max-height: 300px; }
  .book_purchase a {
    padding: 3% 5%;
    margin-left: 30%; }
  .book_purchase a:hover {
    color: #fff;
    text-decoration: none; }
  .book_purchase .red {
    border: 2px solid #F45560;
    color: #F45560; }
  .book_purchase .red:hover {
    background-color: #F45560;
    color: #fff; }

.book_container {
  padding: 5% 2%; }
  .book_container h1 {
    text-align: center; }

.cart-empty {
  text-align: center !important;
  padding: 10% 0%; }
  .cart-empty a:hover {
    color: #fff; }

.table_design {
  padding: 3% 0%;
  background-color: #fff; }
  .table_design table {
    width: 100%; }
  .table_design td {
    padding: 2% 0%;
    text-align: center;
    text-transform: capitalize; }
  .table_design th {
    background-color: #043862;
    color: #fff;
    text-align: center; }
  .table_design a {
    padding: 2% 4%; }
  .table_design a:hover {
    color: #fff; }
  .table_design .green {
    border: 2px solid #5FB88A;
    color: #5FB88A; }
  .table_design .green:hover {
    background-color: #5FB88A;
    color: #fff; }

/*
-------------------------------------------------------------------------------
RECEIPT DESIGN
-------------------------------------------------------------------------------
*/
.receipt {
  margin: 5%;
  background-color: #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 5%; }
  .receipt h1 {
    text-align: center; }
  .receipt .table_design {
    padding: 3% 2%; }
    .receipt .table_design table {
      width: 80%; }
  .receipt .ui-form {
    text-align: left;
    margin-left: 0%; }
    .receipt .ui-form p {
      color: #333;
      margin-left: 2%; }
    .receipt .ui-form input[type='text'] {
      background-color: #043862;
      color: #fff;
      text-transform: uppercase !important;
      margin: 1% 0%;
      width: 50%; }
    .receipt .ui-form .error, .receipt .ui-form .success {
      text-align: center;
      margin-left: 0%;
      width: 50%; }
  .receipt .green {
    border: 2px solid #5FB88A;
    color: #5FB88A;
    background-color: #fff; }
  .receipt .green:hover {
    background-color: #5FB88A;
    color: #fff; }

.step {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 2%;
  width: 50%;
  padding: 2%;
  background-color: #fff; }
  .step h4 {
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    padding: 1% 0%; }

.purchase_view {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 2%;
  margin: 2% 1%; }
  .purchase_view .table_design table {
    width: 50% !important; }

/*
-------------------------------------------------------------------------------
DASHBOARD DESIGN
-------------------------------------------------------------------------------
*/
.notifications {
  padding: 1% 0%; }
  .notifications a {
    color: #333; }

.stats {
  text-align: center; }
  .stats li {
    list-style: none;
    display: inline-block;
    margin: 0% 1%;
    background-color: #043862;
    color: #fff;
    padding: 1%;
    width: 15%;
    border-radius: 60px; }

/*# sourceMappingURL=main.css.map */
