/*
* Default initializations
*/

@font-face {
  font-family: nunito;
  src: url(Nunito-Regular.ttf);
}

$theme-color:#043862;
$font:1.03em nunito;
$red:#F45560;
$green:#5FB88A;

*{
  padding: 0%;
  margin: 0%;
  outline: 0;
  font:$font;
}

.button{
  padding:1% 2%;
  border-radius:60px;
  border:2px solid $theme-color;
  color:#fff;
  font-size:.8em;
  color:$theme-color;
  -webkit-transition:background .5s;
}

.button:hover{
  background-color:$theme-color;
}

.right{
  float: right;
}

.left{
  float:left;
}

.cap{
  text-transform: capitalize;
}





/*
* TOP MENU DESIGN
*/
.top-menu{
  width:100%;
  position: fixed;
  z-index:2;
  background-color:$theme-color;
  padding:1%;
  text-align: center;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);

  li{
    display:inline-block;
    list-style: none;
    font-size:1.5em;
    padding:0% 3%;
  }

  a{
    color:#fff;
  }

  a:hover{
    color:#fff;
  }
}





/*
* container > ui-form > holder
*/
.container-form{
  background-color:$theme-color;
  height:100vh;
  width:100%;
  overflow-y:scroll;
  text-align: center;

  h1{
    color:#fff;
    padding:3% 0%;
  }
}


// exact form
.ui-form{
  margin:auto;
  width:50%;
  text-align: center;

  input[type='text'], [type='email'], [type='password'], [type='submit'], select, [type='number'], [type='file']{
    padding:1.5% 0% 1.6% 4%!important;
    margin:.5% auto;
    width:40%;
    border:none;
    border-radius:60px;
    border:2px solid #fff;
    outline:0!important;
    -webkit-transition:background .5s;
  }

  input[type='text'], [type='email']{
    text-transform: lowercase!important;
  }


  input[type='submit']{
    background-color:transparent;
    text-align: center;
    padding:1.5% 0%!important;
    color:#fff;
    -webkit-transition:background .5s;
  }

  input[type='submit']:hover{
    background-color:#fff;
    color:#333;
  }

  p{
    color:#fff;
  }

  a{
    color:#fff;
  }
  a:hover{
    color:#fff;
  }
}


/*
* message holder
*/
.error{
  width:40%;
  margin:1% auto;
  background-color:$red;
  color:#fff;
  padding:1.3%;
  border-radius:60px;
}

.success{
  @extend .error;
  background-color:$green;
}




/*
* Admin Interface
*/
.side-menu{
  height:100vh;
  background-color:$theme-color;
  padding:15% 0%;

  ul{
    width:105%;
    margin-left:-2%;

    li{
      list-style: none;
      padding:4% 10%;
      border-bottom:1px solid #fff;

      span{
        color:$red;
        font-size:.5em;
        background-color:#fff;
        padding:1%;
        width:35%;
        border-radius:60px;
        text-align: center;
      }
    }

    li:hover{
      border-bottom:1px solid $red;
    }

    a{
      color:#fff;
      text-decoration: none;
    }

    a:hover{
      color:$red;
    }

    .current{
      color:$red;
      border-bottom:1px solid $red;
    }
  }
}

// other-side
.other-side{
  background-color:#b5dcfc;
  height:100vh;
  overflow-y:scroll;
  padding:3% 1%!important;

  h3{
    padding:1% 0%;
    color:$theme-color;
    border-bottom:1px solid $theme-color;
  }

  .ui-form{
    width:80%;

    input, select{
      box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
      text-transform: lowercase;
    }

    input[type='submit']{
      border:2px solid $theme-color;
      color:$theme-color;
    }

    input[type='submit']:hover{
      box-shadow:none;
      background-color:$theme-color;
      border:2px solid $theme-color;
      color:#fff;
    }
  }

  a:hover{
    color:#fff;
    text-decoration: none;
  }

}


/*
* BOOK PRESENTATION
*/
.present-book{
  padding:2%;
  background-color:#fff;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius:3px;
  margin:1% .5%;
  width:48%!important;

  img{
    width:100%;
    min-height:220px;
    max-height:220px;
  }

  .text{
    text-align: left;
    padding:1% 2%;
    font-size:.8em;
    text-transform: capitalize;

    a{
      padding:1.5% 4%;
    }

    .del{
      color:red;
      border:2px solid $red;
    }

    .del:hover{
      background-color:$red;
      color:#fff;
    }
  }
}


/*
* ASSIGN BOOK
*/
.assign{
  background-color:#fff;
  width:40%;
  padding:5% 3%;
  border-radius:60px;
  margin:2% auto;

  h3{
    border-bottom:1px solid #333;
    text-align: left;
  }

  p{
    color:#333;
    text-align: left;
  }

  a{
    padding:2% 5%;
    color:$theme-color;
  }
}

.parent{
  background-color:#fff;
  padding-top:1%;
  padding-bottom:.3%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin:.5% 0%;
  padding:1%;
  border-radius:3px;
  font-size:13px;
  cursor:pointer;
  -webkit-transition: background .2s;

  li{
    list-style:none;
    display: inline-block;
    width:17%;
    border-left:1px solid #c1c1c1;
    text-align: center;
  }

  a{
    color:#333!important;
    text-decoration:none;
    padding-right:3%;
  }

}

.parent:hover{
  background-color:$green;
  color:#fff;

  a{
    color:#fff!important;
  }
}


.formal{
  background-color:transparent!important;
  box-shadow:none;
}

.formal:hover{
  color:#333;
}





/*
-------------------------------------------------------------------------------
USER PURCHASE INTERFACE
-------------------------------------------------------------------------------
*/

.array{
  padding:2%;

  h3{
    border-bottom:1px solid #333;
    padding:1% 0%;
  }
}

.book_purchase{
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color:#fff;
  padding:1%;
  margin:.5%;
  width:15%!important;

  img{
    width:100%;
    min-height:300px;
    max-height:300px;
  }

  a{
    padding:3% 5%;
    margin-left:30%;
  }

  a:hover{
    color:#fff;
    text-decoration: none;
  }

  .red{
    border:2px solid $red;
    color:$red;
  }

  .red:hover{
    background-color:$red;
    color:#fff;
  }
}

.book_container{
  padding:5% 2%;

  h1{
    text-align: center;
  }
}



// cart page design

.cart-empty{
  text-align: center!important;
  padding:10% 0%;

  a:hover{
    color:#fff;
  }
}


// table design

.table_design{
  padding:3% 0%;
  background-color:#fff;

  table{
    width:100%;
  }

  td{
    padding:2% 0%;
    text-align: center;
    text-transform: capitalize;
  }

  th{
    background-color:$theme-color;
    color:#fff;
    text-align:center;
  }

  a{
    padding:2% 4%;
  }

  a:hover{
    color:#fff;
  }

  .green{
    border:2px solid $green;
    color:$green;
  }

  .green:hover{
    background-color:$green;
    color:#fff;
  }
}




/*
-------------------------------------------------------------------------------
RECEIPT DESIGN
-------------------------------------------------------------------------------
*/
.receipt{
  margin:5%;
  background-color:#fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding:5%;

  h1{
    text-align: center;
  }

  .table_design{
    padding:3% 2%;

    table{
      width:80%;
    }
  }

  .ui-form{
    text-align: left;
    margin-left:0%;

    p{
      color:#333;
      margin-left:2%; 
    }


    input[type='text']{
      background-color:$theme-color;
      color:#fff;
      text-transform:uppercase!important;
      margin:1% 0%;
      width:50%;
    }

    .error{
      text-align: center;
      margin-left:0%;
      width:50%;
    }
  }

  .green{
    border:2px solid $green;
    color:$green;
    background-color:#fff;
  }

  .green:hover{
    background-color:$green;
    color:#fff;
  }
}



.step{
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  margin:2%;
  width:50%;
  padding:2%;
  background-color:#fff;

  h4{
    border-bottom:1px solid #333;
    text-transform:uppercase;
    padding:1% 0%;
  }
}



.purchase_view{
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color:#fff;
  padding:2%;
  margin:2% 1%;

  .table_design{

    table{
      width:50%!important;
    }
  }

}




/*
-------------------------------------------------------------------------------
DASHBOARD DESIGN
-------------------------------------------------------------------------------
*/
.notifications{
  padding:1% 0%;

  a{
    color:#333;
  }
}


.stats{
  text-align: center;

  li{
    list-style: none;
    display: inline-block;
    margin:0% 1%;
    background-color:$theme-color;
    color:#fff;
    padding:1%;
    width:15%;
    border-radius:60px;
  }
}
